@charset "UTF-8";
/* CSS Document */

body {
  background-color: black;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

.container1{
	align-content: center;
	align-self: center;
}

.container2{
	height: 500px;
	width: width;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-flex;
	flex-wrap: wrap;
	/*justify-content: space-evenly;*/
    flex-flow: row wrap;
}

.subcontainer1{
	/*margin-left: 10px;
	margin-top: 50px;*/
	overflow: scroll;
	flex: 3;
	height: 100%;
	background-color: white;
	/*border-color: #CB90BF;
	border-width: 3px;
	border-style: solid;*/
	padding: 10px;
}
	.subcontainer1::-webkit-scrollbar {
  	width: 12px;
	}
	.subcontainer1::-webkit-scrollbar-track {
  	border-radius: 10px;
	}
	.subcontainer1::-webkit-scrollbar-thumb {
  	background: #89BFF7;
  	
    }

.subcontainer2{
	overflow: scroll;
	color: white;
	flex: 2;
	height: 100%;
	background-color: black;
	padding: 10px;
	margin-left: 10px;
}

.header{
	font-size: 50px;
	text-align: center;
	color: #89BFF7;
}

.news{
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
}

h1{
	margin-top: 50px;
  }

h2{
	margin-left: 10px;
	font-weight: bolder;
}

h3{
	margin-left: 10px;
	font-weight: bolder;
	font-size: 20px;
}

p{
	margin-left: 10px;
	font-weight: lighter;
	font-size: 14px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

button{
	margin-left: 10px;
	margin-bottom: 20px;
	color: #FFFFFF;
	background-color: #000000;
	border-color: #CB90BF;
	border-width: 3px;
	border-style: solid;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 18px;
}

button:hover{
	color: #89BFF7;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 50px;
}

li {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  display:inline;
}

.container3{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	/*justify-content: space-evenly;*/
    flex-flow: row wrap;
}

.navBar{
	/*width: 60%;*/
	flex: 5;
}

.home{
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.contact{
	background-color: white;
	flex: 1;
	margin-top: 40px;
	margin-right: 50px;
	height: 60px;
	padding-bottom: 10px;
	border-color: #CB90BF;
	border-width: 3px;
	border-style: solid;
	font-weight: bold;
}


.pink{
	color: #CB90BF;
}

.pinkhover{
	color: #CB90BF;
}

.pinkhover2{
	color: #CB90BF;
}

.blue{
	color: #89BFF7;
}

.pinkhover:hover{
	color: #89BFF7;
}

.pinkhover2:hover{
	color: #FFFFFF;
}